.message{ message_id: "#{message.id}", group_id: "#{message.group_id}" }
  .message__upper-info
    .message__upper-info__user
      = message.user.name
    .message__upper-info__data
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .massage__text
    - if message.content.present?
      %p.lower-message__content
        = message.content
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
 


 
