!!!
%html{lang: "ja"}
%head
%meta(charset="UTF-8")
%link(href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet")
%body
  %div.wrapper
    = render "shared/side_bar"
    .chat-main
      .main-header
        .current-group
          .current-group__name
            = @group.name
          .member-list
            - @group.group_users.each do |group_user|
              = group_user.user.name
        .main-header__edit-btn
          .main-header__edit-btn__text
            = link_to "Edit", edit_group_path(params[:group_id]), method: :get
      .messages
        = render partial: 'message', collection: @messages
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'